* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
}
header {
    width: 100vw;
    height: 676px;
    padding: 0 120px;
    background-image: url(./images/grey.png);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
}
header .top {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tleft {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.letter-F {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF9F34;
    color: white;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lukan {
    width: 96px;
    height: 36px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.tmiddle {
    width: 635px;
    padding-left: 156px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}
ul li:hover {
    cursor: pointer;
}
.tright {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tright span {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}
.tright span:hover {
    cursor: pointer;
}
.tright button {
    width: 118px;
    height: 38px;
    border: 1.2px solid #FFF;
    background: transparent;
    color: white;
    font-size: 14px;
    font-weight: 400px;
}
.tright button:hover{
    cursor: pointer;
}
.bottom {
    width: 100%;
    height: 577px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    width: 520px;
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textL {
    color: #FFF;
    font-size: 52px;
    font-weight: 600;
    line-height: 72px; 
    letter-spacing: 0.5px;
}
.textS {
    width: 92%;
    color: rgba(255, 255, 255, 0.71);
    font-size: 16px;
    font-weight: 300;
    line-height: 33px;
}
.yellow {
    width: 165px;
height: 56px;
background: #FF9F34;
border: none;
color: white;
font-size: 16px;
font-weight: 400;
}
.yellow:hover {
    cursor: pointer;
}
.right {
    width: 700px;
    height: 100%;
}
.main {
    width: 100vw;
    height: 100vh;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100vw;
    height: 435px;
    padding: 0 120px;
    background-color: #402613;
    display: flex;
    flex-direction: column;
}
.upper {
    width: 100%;
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apps {
    width: 360px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.last-text {
    width: 100%;
    height: 64px;
    color: rgba(255, 255, 255, 0.71);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-weight: 200;
    line-height: 32px;
}
.icons {
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.image {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 50%;
}
.image:hover {
    cursor: pointer;
}
.lists {
    width: 735px;
    height: 242px;
    display: flex;
    justify-content: space-between;
}
p {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}
.lists ul {
    flex-direction: column;
    align-items: start;
    line-height: 45px;
}
.office {
    width: 200px;
    color: var(--Light, #F4F4F4);
    font-size: 14px;
    font-weight: 300;
    line-height: 190%;
}
.office p {
    margin-bottom: 10px;
}
.line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.10);
}
.lower {
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
}