* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
}
header {
    width: 100vw;
    height: 676px;
    padding: 0 120px;
    background-image: url(./images/grey.png);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
}
header .top {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tleft {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.letter-F {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF9F34;
    color: white;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lukan {
    width: 96px;
    height: 36px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.tmiddle {
    width: 635px;
    padding-left: 156px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
}
ul li {
    transition: all 0.2s ease-in-out;
}
ul li:hover {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}
.tright {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tright span {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    transition: all 0.2s ease-in-out; 
}

.tright span:hover {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

.tright button {
    width: 118px;
    height: 38px;
    border: 1.2px solid #FFF;
    background: transparent;
    color: white;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-in-out; 
}

.tright button:hover {
    cursor: pointer;
    background-color: #FF9F34;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}
.bottom {
    width: 100%;
    height: 577px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    width: 520px;
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textL {
    color: #FFF;
    font-size: 52px;
    font-weight: 600;
    line-height: 72px; 
    letter-spacing: 0.5px;
}
.textS {
    width: 92%;
    color: rgba(255, 255, 255, 0.71);
    font-size: 16px;
    font-weight: 300;
    line-height: 33px;
}
.yellow {
    width: 165px;
    height: 56px;
    background: #FF9F34;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}
.yellow:hover {
    cursor: pointer;
    background: none;
    border: 1px solid white;
    font-size: 17px;
}
.right {
    width: 600px;
    height: 90%;
}
.main {
    width: 100vw;
    height: auto;
    gap: 180px;
    padding: 180px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* t3-1 */
.container1 {
    width: 100%;
    height: 280px;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF8F1;
}
.box1 {
    width: 555px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text1 {
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.bold {
    color: #1E1000;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.5px;
}
.normal {
    color: #1E1000;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.5px;
}
.Customer {
    width: 202px;
    height: 120px;
    color: #1E1000;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.5px;
}
.description {
    width: 514px;
    height: 96px;
    color: rgba(30, 16, 0, 0.71);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; 
}
/* faq */
.FAQ {
    width: 100%;
    height: auto;
    gap: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.faq-head {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.f-title {
    color: #1E1000;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px; 
    letter-spacing: -0.5px;
}
.f-text {
    width: 444px;
    color: rgba(30, 16, 0, 0.71);
    text-align: center;
    font-size: 16px;    
    font-weight: 400;
    line-height: 180%;
}
.faq-questions {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.q-box {
    width: 100%;
    border: 1px solid #DDD;
    padding: 32px 40px;
    /* gap: 16px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.q-text {
    color: #1E1000;
    font-size: 20px;
    font-weight: 500;
}
.arrow img {
    width: 7px;
    height: 14px;
}
.arrow {
    display: inline-block; 
    transition: transform 0.5s ease-in-out;
}
.arrow.rotate {
    transform: rotate(90deg); 
}
.arrow:hover {
    cursor: pointer;
}
.answer {
    width: 88%;
    color: #AAA;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out, padding-top 0.5s ease-in-out;
    padding-top: 0;
}
.answer.show {
    max-height: 250px; 
    padding-top: 16px;
}

/* t3-7 */

.container7 {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF8F1;
}
.box7 {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.text7-1 {
    width: 479px;
    height: 60px;
    color: #1E1000;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.5px;
}
.text7-2 {
    width: 444px;
    height: 58px;
    color: rgba(30, 16, 0, 0.71);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Ubuntu", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 180%;
    text-transform: lowercase;
}
.button7 {
    width: 165px;
    height: 56px;
    background: #FF9F34;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.getstarted {
    width: 92px;
    height: 24px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.button7:hover {
    background: #f9d3a8;
    cursor: pointer;
}
footer {
    width: 100vw;
    height: 365px;
    padding: 0 120px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background-color: #402613;
    display: flex;
    flex-direction: column;
}
.upper {
    width: 100%;
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apps {
    width: 360px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.last-text {
    width: 100%;
    height: 64px;
    color: rgba(255, 255, 255, 0.71);
    font-size: 16px;
    font-weight: 200;
    line-height: 32px;
}
.icons {
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.image {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
img {
    width: 20px;
    height: 50%;
}
.image:hover {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: #f9d3a8;
}
.lists {
    width: 735px;
    height: 242px;
    display: flex;
    justify-content: space-between;
}
p {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}
.lists ul {
    flex-direction: column;
    align-items: start;
    line-height: 45px;
}
.office {
    width: 200px;
    color: var(--Light, #F4F4F4);
    font-size: 14px;
    font-weight: 300;
    line-height: 190%;
}
.office p {
    margin-bottom: 10px;
}

.lower {
    width: 100%;
    height: 69px;
    background-color: #402613;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 1390px) {
    .right {
        width: 520px;
        height: 417px;
    }
}

@media (max-width: 1255px) {
    header {
        height: auto;
    }
    .tmiddle {
        width: 480px;
        padding-left: 0;
    }
    .bottom {
        height: auto;
        flex-direction: column;
        gap: 32px;
    }
    .container1 {
        height: auto;
        flex-direction: column;
        gap: 24px;
    }
    .description {
        width: 590px;
        text-align: center;
    }
    footer {
        height: auto;
    }
    .upper {
        flex-direction: column;
        height: 650px;
        gap: 60px;
        padding: 60px;
    }
}
@media (max-width: 1100px) {
    .tmiddle {
        display: none;
    }
    .f-title {
        font-size: 30px;
        text-align: center;
    }
}
@media (max-width: 800px) {
    .textL {
        font-size: 40px;
    }
    .container1 {
        padding: 40px 24px;
    }
    .text1 {
        height: auto;
    }
    .box1 {
        width: 335px;
        height: 72px;
    }
    .bold {
        font-size: 24px;
        line-height: 36px;
    }
    .normal {
        font-size: 24px;
        line-height: 36px;
    }
    .description {
        width: 340px;
        text-align: start;
        overflow: hidden;
    }
    .faq-head {
        height: auto;
        gap: 16px;
    }
    .f-title {
        font-size: 24px;
        line-height: 36px; 
    }
    .f-text {
        width: 300px;
        height: 58px;
        overflow: hidden;
    }
    .faq-questions {
        flex-direction: row;
        align-items: start;
        justify-content: start;
        overflow: hidden; 
        position: relative;
        transition: transform 0.5s ease-in-out;
    }
    .q-box {
        width: 310px;
        border: none;
        padding: 0;
        text-align: center;
    }
    .q-text span {
        display: none;
    }
    .container7 {
        height: 318px;
        padding: 60px 41px;
    }
    .box7 {
        height: 200px;
    }
    .text7-1 {
        height: 36px;
        font-size: 24px;
        text-align: center;
    }
    .text7-2 {
        width: 300px;
    }
    .text7-2 br {
        display: none;
    }
    footer {
        height: 801px;
        padding: 40px 24px;
    }
    .upper {
        height: 100%;
        padding: 0;
    }
    .apps {
        height: 200px;
    }
    .lists {
        width: 360px;
        height: 500px;
        flex-wrap: wrap;
        align-items: start;
    }
    .links {
        width: 150px;
    }
    .resorces {
        width: 200px;
    }
    .office {
        margin-top: 50px;
    }
    .about {
        display: none;
    }
}